.container {
    display: flex;
}

.left-panel {
    margin-left: 200px;
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.right-panel {
    display: flex;
}

.overview-section {
    flex: 1;
    padding: 5px;
    background-color: #FFDEAD;
    margin-left: 40px;
    margin-right: 5px;
}

.data-section {
    flex: 1;
    padding: 5px;
    background-color: #f2f2f2;
    margin-right: 5px;
}